# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
src/main/webapp/WEB-INF/lib/testai.jar
src/main/webapp/resources/ShuaiZhengTrained.zip



out
gen
